.neonLight {
   color: #ff0783;
   text-shadow:
     0 0 5px #fff,
     0 0 10px #ff00e6;
     /*0 0 80px #0ff,s
     0 0 90px #0ff; */
 }
 
 .neonDark {
      color: #ffffff;
      text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #ff008c;
    }

.boxshadow {
   box-shadow: 0 0 20px #ffffff2a;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}
.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatscroll {
   scrollbar-color: #ff0783 transparent;
 }

.chatscroll::-webkit-scrollbar {
   width: 4px;
   cursor: pointer;
   background-color: transparent ;
 }
 
 .chatscroll::-webkit-scrollbar-track {
   background: transparent;
   transform : translateZ(0)
 }
 
 .chatscroll::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background: #ff0783;
 
 }
 
 .chatscroll::-webkit-scrollbar-thumb:hover {
   background: #b6065e;
   cursor: pointer;
   /* box-shadow: 0 0 5px  #ff0783; */
 }

 
@keyframes scroll {
   0% { transform: translateX(0); }
   100% { transform: translateX(-100%); }
 }
 
 .autoScroll {
   animation: scroll 30s linear infinite;
 }