@keyframes fadeIn {
      from {
        opacity: 0;
        font-size: 0.5rem;
      }
      to {
        opacity: 1;
        font-size: 1.5rem;
      }
    }
    
    @keyframes fadeOut {
      from {
        opacity: 1;
        font-size: 1.5rem;
      }
      to {
        opacity: 0;
        font-size: 0.5rem;
      }
    }
    @media (max-width: 769px) {
      /* Adjust the height for smaller devices */
      .animationContainer {
        height: 4rem;
        width: 100%;
      }
    }
    @media (min-width: 1068px) {
      /* Adjust keyframe animations for larger devices */
      @keyframes fadeIn {
        from {
          opacity: 0;
          font-size: 1rem; /* Initial font size for larger devices */
        }
        to {
          opacity: 1;
          font-size: 2.2rem; /* Final font size for larger devices */
        }
      }
    
      @keyframes fadeOut {
        from {
          opacity: 1;
          font-size: 2.2rem; /* Initial font size for larger devices */
        }
        to {
          opacity: 0;
          font-size: 1rem; /* Final font size for larger devices */
        }
      }
    }
    .fadeIn {
      animation: fadeIn 0.5s ease-in forwards;
    }
    
    .fadeOut {
      animation: fadeOut 0.5s ease-out forwards;
    }
.glowFont {
      font-family: 'Caramel', sans-serif; /* Use the imported Google Font here */
      color: #ff0783;
    }
.gradiantForText {
      color: #ffffff;
      -webkit-background-clip: text;
      background-clip: text;
      
    }
.colorForAnimatedText {
  color: #ff0783; 
      
    }
.textGradient {
      background-image: linear-gradient( #ffffffd3 30% , #f4e7f5f8 50%, rgba(241, 203, 244, 0.914) 100% );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }