.button {
  background-image: linear-gradient(
    to right,
    #ff6e7f 0%,
    #9fdeff 51%,
    #ff6e7f 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: #752c5a 0 0 2px;
  /* box-shadow: 0 0 20px #eee; */
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  box-shadow: 0 0 10px #a00f57a0, 0 0 20px #e6007393;
  text-decoration: none;
}
.button:disabled {
  background-image: linear-gradient(
    to right,
    #a31c2c 0%,
    #bd0318 100%
  );
  color: #f2cbcb; /* change as needed */
  box-shadow: none; /* remove box shadow */
  cursor: not-allowed; /* change cursor */
}



.buttonStyle {
  /* border: 1px solid #ffffff; */
  background: blur(1px);
}
.buttonStyle:hover {
  box-shadow: 0 0 10px #a00f57a0, 0 0 20px #e6007393;
}
